%section

  %h1 Events

  %p.nutshell Over five days Jon Buda and Shay Howe are visiting five cities, giving talks and spending time with the local community of designers and developers.

  %ol.events

    -# Monday

    %li.event.group

      %h3.event-title
        %a(href="http://www.ixdacolumbus.org/event/guest-speakers-jon-buda-shay-howe-refresh-chicago/" rel="nofollow") IxDA Columbus

      %time.event-date(datetime="2013-07-22")
        %strong.h-related Monday
        .h-promo July 22<sup>nd</sup>, 2013
        .h-promo 6:00 PM

      %address.event-location
        %strong.h-related Involution Studios
        .h-promo
          %a(href="https://maps.google.com/maps?q=1020+Dennison+Ave+Columbus+OH+43201+United+States" rel="nofollow")
            1020 Dennison Ave.
            %br
            Columbus, OH 43201


    -# Tuesday

    %li.event.group

      %h3.event-title
        %a(href="http://www.meetup.com/pittsburghwebdesign/events/119300752/" rel="nofollow")
          Pittsburgh Web Design Meetup Group

      %time.event-date(datetime="2013-07-23")
        %strong.h-related Tuesday
        .h-promo July 23<sup>rd</sup>, 2013
        .h-promo 7:00 PM

      %address.event-location
        %strong.h-related Revv Oakland
        .h-promo
          %a(href="https://maps.google.com/maps?q=122+Meyran+Ave+Pittsburgh+PA+15213" rel="nofollow")
            122 Meyran Ave.
            %br
            Pittsburgh, PA 15213

    -# Wednesday

    %li.event.group

      %h3.event-title
        Cleveland Web Standards Association

      %time.event-date(datetime="2013-07-24")
        %strong.h-related Wednesday
        .h-promo July 24<sup>th</sup>, 2013
        .h-promo TBA

      %address.event-location
        %strong.h-related Progressive Insurance
        .h-promo
          %a(href="https://maps.google.com/maps?q=6300+Wilson+Mills+Road+Cleveland+OH+44143" rel="nofollow")
            6300 Wilson Mills Rd.
            %br
            Cleveland, OH 44143

    -# Thursday

    %li.event.group

      %h3.event-title
        %a(href="http://www.meetup.com/refreshdetroit/events/118288312/" rel="nofollow") Refresh Detroit

      %time.event-date(datetime="2013-07-25")
        %strong.h-related Thursday
        .h-promo July 25<sup>th</sup>, 2013
        .h-promo 6:30 PM

      %address.event-location
        %strong.h-related The Qube
        .h-promo
          %a(href="https://maps.google.com/maps?q=635+Woodward+Ave+Detroit+MI" rel="nofollow")
            635 Woodward Ave.
            %br
            Detroit, MI 48226

    -# Friday

    %li.event.group

      %h3.event-title
        Collective Idea

      %time.event-date(datetime="2013-07-26")
        %strong.h-related Friday
        .h-promo July 26<sup>th</sup>, 2013
        .h-promo TBA

      %address.event-location
        %strong.h-related TBA
        .h-promo
          Holland, MI
