%section#events

  %h1 Events

  %p.nutshell Over five days we are visiting five cities, giving talks and spending time with the local community of designers and developers.

  %ol.events

    -# Monday

    %li.event.group

      %h3.event-title
        %a(href="http://www.meetup.com/refreshthetriangle/events/178675652/" rel="nofollow")
          Refresh the Triangle

      %time.event-date(datetime="2014-05-19")
        %strong.h-related Monday
        .h-promo May 19<sup>th</sup>, 2014
        .h-promo 6:30 PM

      %address.event-location
        %strong.h-related American Underground
        .h-promo
          %a(href="https://maps.google.com/maps?q=201+W+Main+St+Suite+100+Durham+NC+27701" rel="nofollow")
            201 W. Main St.
            %br
            \#100
            %br
            Durham, NC 27701

    -# Tuesday

    %li.event.group

      %h3.event-title
        %a(href="https://refreshdc-may2014.eventbrite.com" rel="nofollow")
          Refresh DC

      %time.event-date(datetime="2013-05-20")
        %strong.h-related Tuesday
        .h-promo May 20<sup>th</sup>, 2014
        .h-promo 6:30 PM

      %address.event-location
        %strong.h-related nclud
        .h-promo
          %a(href="https://maps.google.com/maps?q=1424+K+St+NW+Suite+300+Washington+DC+20005" rel="nofollow")
            1424 K St. NW
            %br
            \#300
            %br
            Washington, DC 20005

    -# Wednesday

    %li.event.group

      %h3.event-title
        %a(href="http://www.meetup.com/Philadelphia-JavaScript-Developers/events/178629852/" rel="nofollow")
          PhillyJSDev

      %time.event-date(datetime="2013-05-21")
        %strong.h-related Wednesday
        .h-promo May 21<sup>st</sup>, 2014
        .h-promo 5:30 PM

      %address.event-location
        %strong.h-related RJMetrics
        .h-promo
          %a(href="https://maps.google.com/maps?q=1339+Chestnut+St+Suite+1500+Philadelphia+PA+19107" rel="nofollow")
            1339 Chestnut St.
            %br
            \#1500
            %br
            Philadelphia, PA 19107

    -# Thursday

    %li.event.group

      %h3.event-title
        %a(href="http://www.meetup.com/nyc-sass/events/166685342/" rel="nofollow")
          New York Sass &amp; Compass Meetup

      %time.event-date(datetime="2013-05-22")
        %strong.h-related Thursday
        .h-promo May 22<sup>nd</sup>, 2014
        .h-promo 7:00 PM

      %address.event-location
        %strong.h-related Pivotal Labs
        .h-promo
          %a(href="https://maps.google.com/maps?q=625+Avenue+of+Americas+2nd+Floor+New+York+NY+10011" rel="nofollow")
            625 Avenue of Americas
            %br
            2nd Floor
            %br
            New York, NY 10011

    -# Friday

    %li.event.group

      %h3.event-title
        %a(href="http://cantina.co/event/refresh-chicago-roadtrip-making-a-stop-at-cantina/" rel="nofollow")
          Cantina Sponsored Event

      %time.event-date(datetime="2013-05-23")
        %strong.h-related Friday
        .h-promo May 23<sup>rd</sup>, 2014
        .h-promo 12:00 PM

      %address.event-location
        %strong.h-related Cantina
        .h-promo
          %a(href="https://maps.google.com/maps?q=320+Congress+St+Boston+MA+02210" rel="nofollow")
            320 Congress St.
            %br
            Boston, MA 02210
