%section#events

  %h1 Events

  %p.nutshell Over five days we are visiting five cities, giving talks and spending time with the local community of designers and developers.

  %ol.events

    -# Monday

    %li.event.group

      %h3.event-title
        %a(href="http://www.meetup.com/refreshthetriangle/" rel="nofollow") Refresh the Triangle

      %time.event-date(datetime="2014-05-19")
        %strong.h-related Monday
        .h-promo May 19<sup>th</sup>, 2014

      %address.event-location
        %strong.h-related TBD
        .h-promo Durham, NC

    -# Tuesday

    %li.event.group

      %h3.event-title
        %a(href="http://refresh-dc.org/" rel="nofollow") Refresh DC

      %time.event-date(datetime="2013-05-20")
        %strong.h-related Tuesday
        .h-promo May 20<sup>th</sup>, 2014

      %address.event-location
        %strong.h-related nclud
        .h-promo
          %a(href="https://maps.google.com/maps?q=1424+K+St+NW+3rd+Floor+Washington+DC+20005" rel="nofollow")
            1424 K St. NW, 3rd Floor
            %br
            Washington, DC 20005

    -# Wednesday

    %li.event.group

      %h3.event-title TBD

      %time.event-date(datetime="2013-05-21")
        %strong.h-related Wednesday
        .h-promo May 21<sup>st</sup>, 2014

      %address.event-location
        %strong.h-related TBD
        .h-promo Philadelphia, PA

    -# Thursday

    %li.event.group

      %h3.event-title
        %a(href="http://www.meetup.com/nyc-sass/events/166685342/" rel="nofollow") New York Sass &amp; Compass Meetup

      %time.event-date(datetime="2013-05-22")
        %strong.h-related Thursday
        .h-promo May 22<sup>nd</sup>, 2014
        .h-promo 7:00 PM

      %address.event-location
        %strong.h-related Pivotal Labs
        .h-promo
          %a(href="https://maps.google.com/maps?q=625+Avenue+of+Americas+2nd+Floor+New+York+NY+10011" rel="nofollow")
            625 Avenue of Americas, 2nd Floor
            %br
            New York, NY 10011

    -# Friday

    %li.event.group

      %h3.event-title TBD

      %time.event-date(datetime="2013-05-23")
        %strong.h-related Friday
        .h-promo May 23<sup>rd</sup>, 2014

      %address.event-location
        %strong.h-related TBD
        .h-promo Boston, MA
