%header.primary-header

  .primary-logo
    %h1.primary-logo-stage
      .ir Refresh Road Trip

  %p.primary-subheadline.h-subheadline
    In July <strong>Refresh Chicago</strong> is taking Refresh on the road as part of the <strong>1<sup>st</sup> Annual Refresh Road Trip</strong>. We&#8217;d love for you to join us!
