%section

  %h1 Speakers

  %p.nutshell Covering the latest technologies, Jon Buda will be speaking about mobile performance while Shay Howe will be speaking about modular HTML and CSS.  
  
  %section.speaker
  
    %h2 Jon Buda
    %h4 Speed by Design &ndash; Keep the Mobile Web Quick

    %p As attention spans are heading towards zero and more and more of the population is constantly on-the-go, optimizing your mobile websites to load quickly and efficiently can make an enormous difference in visitor engagement, and most importantly, your bottom-line. Designing for performance should be a top-priority in keeping your visitors happy and allowing them do what they need to do quickly.

    %p You&#8217;ll learn a few techniques on how to keep your mobile websites lean and loading quickly, how page speed is actually a component of good UX, how to test and benchmark under various network conditions, and how slow loading times can turn away visitors and potential paying customers.

    %aside.group
      
      %h4 About Jon

      %img.speaker-img(src="assets/img/jon-buda.jpg" alt="Jon Buda")

      %p <a href="http://jonbuda.com/">Jon Buda</a> is web developer who loves to design, or a designer who loves to code &ndash; depending on the day. He enjoys solving problems holistically, thinking about back-end, front-end, and design all as equally important parts in crafting great experiences. He helps to organize <a href="http://refreshchi.org/" rel="nofollow">Refresh Chicago</a> and is currently working with <a href="http://www.tablexi.com/" rel="nofollow">Table XI</a>.

      %p
        %a(href="https://twitter.com/jonbuda" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true") Follow @jonbuda

  %section.speaker

    %h2 Shay Howe
    %h4 Front End Legos &ndash; Better Design with Reusable HTML &amp; CSS

    %p There are a million ways to write HTML and CSS, and everyone has their own, but is there a right way? Our code needs to be well structured, written in an organized manner, and performance driven. Sharing code with others should be a joyful experience, not absolute terror.

    %p In this session, Shay will cover some best practices and performance tips for writing the highest quality HTML and CSS possible, and how it benefits your design. Writing code is the easy part, finding a modular practice and structure that works well across the board is the hard part. Shay will outline HTML and CSS conventions that can be applied to your everyday practice today.

    %aside.group
      
      %h4 About Shay

      %img.speaker-img(src="assets/img/shay-howe.jpg" alt="Shay Howe")

      %p As a designer and front end developer, <a href="http://shayhowe.com/">Shay Howe</a> has a passion for solving problems while building creative and intuitive products. Shay specializes in product design and interface development, specialties in which he regularly <a href="http://learn.shayhowe.com/" rel="nofollow">writes and speaks</a> about. Additionally, Shay helps co-organize <a href="http://chicagocamps.org/" rel="nofollow">Chicago Camps</a>, Refresh Chicago, and UX Happy Hour.

      %p
        %a(href="https://twitter.com/shayhowe" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true") Follow @shayhowe
