%section#speakers

  %h1 Speakers

  %p.nutshell With everything we build we face constraints. We&#8217;ll discuss these constraints and how we can best leverage them to our benefit.


  %section.speaker

    %h2 JC Grubbs
    %h4 Check &amp; Balance

    %p In any product construction effort there are many processes: ideation and product definition, design, user testing, software engineering, operations, etc. Healthy product ecosystems employ checks and balances to ensure that good communication and coordination are occurring. In this talk we&#8217;ll explore some of the ways these constraints can be applied throughout a team to increase overall effectiveness and happiness.

    %aside.group

      %img.speaker-img(src="assets/img/jc-grubbs.jpg" alt="JC Grubbs")

      %p <a href="http://thegrubbsian.com/">JC Grubbs</a> is the CEO and Practice Lead at <a href="http://www.devmynd.com/">DevMynd</a>, a software design and development studio in Chicago. JC has spent the last 15 years working in technology professional services and has lead teams from small to large. Over his career he has filled many roles from developer to architect to product owner.

      %p
        %a(href="https://twitter.com/thegrubbsian" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true") Follow @thegrubbsian

  %section.speaker

    %h2 Jon Buda
    %h4 Design Your Way Out of a Hole Using Constraints

    %p A blank slate can be an inimidating and overwhelming place to be when designing a new project. Setting constraints and boundaries can help you focus in on the most important aspects of a project, gain important clarity, and allows you to make decisions quicker and easier. Learn a few tricks to setting up your own constraints and how using them can help you push past design roadblocks.

    %aside.group

      %img.speaker-img(src="assets/img/jon-buda.jpg" alt="Jon Buda")

      %p <a href="http://jonbuda.com/">Jon Buda</a> is web developer who loves to design, or a designer who loves to code &ndash; depending on the day. He enjoys solving problems holistically, thinking about back-end, front-end, and design all as equally important parts in crafting great experiences. He helps to organize <a href="http://refreshchi.org/">Refresh Chicago</a>.

      %p
        %a(href="https://twitter.com/jonbuda" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true") Follow @jonbuda

  %section.speaker

    %h2 Shay Howe
    %h4 How Constraints Cultivate Growth

    %p By setting constraints, we force ourselves to be more productive. They help us make decisions, creating focus around the problem we are trying to solve. They improve our consistency, which provides a better experience for our users. And they help us grow, a valuable asset in times of innovation. We&#8217;ll discuss constraints and ways we can embrace them.

    %aside.group

      %img.speaker-img(src="assets/img/shay-howe.jpg" alt="Shay Howe")

      %p As a designer and front end developer, <a href="http://shayhowe.com/">Shay Howe</a> specializes in product design and interface development, specialties in which he regularly <a href="http://learn.shayhowe.com/">writes and speaks</a> about. Currently he is the Director of Product at Belly, and co-organizes <a href="http://chicagocamps.org/">Chicago Camps</a>, Refresh Chicago, and UX Happy Hour.

      %p
        %a(href="https://twitter.com/shayhowe" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true") Follow @shayhowe
