%section#speakers

  %h1 Speakers

  %p.nutshell With everything we build we face constraints. We&#8217;ll discuss these constraints and how we can best leverage them to our benefit.

  %section.speaker

    %h2 Jon Buda
    %h4 Design Your Way Out of a Hole Using Constraints

    %p A blank slate can be an inimidating and overwhelming place to be when designing a new project. Setting constraints and boundaries can help you focus in on the most important aspects of a project, gain important clarity, and allows you to make decisions quicker and easier. Learn a few tricks to setting up your own constraints and how using them can help you push past design roadblocks.

    %aside.group

      %img.speaker-img(src="assets/img/jon-buda.jpg" alt="Jon Buda")

      %p <a href="http://jonbuda.com/">Jon Buda</a> is web developer who loves to design, or a designer who loves to code &ndash; depending on the day. He enjoys solving problems holistically, thinking about back-end, front-end, and design all as equally important parts in crafting great experiences. He helps to organize <a href="http://refreshchi.org/" rel="nofollow">Refresh Chicago</a>.

      %p
        %a(href="https://twitter.com/jonbuda" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true") Follow @jonbuda

  %section.speaker-alt

    %h2 Shay Howe
    %h4 How Constraints Cultivate Growth

    %p By setting constraints, we force ourselves to be more productive. They help us make decisions, creating focus around the problem we are trying to solve. They improve our consistency, which provides a better experience for our users. And they help us grow, a valuable asset in times of innovation. We&#8217;ll discuss constraints and ways we can embrace them.

    %aside.group

      %img.speaker-img(src="assets/img/shay-howe.jpg" alt="Shay Howe")

      %p As a designer and front end developer, <a href="http://shayhowe.com/">Shay Howe</a> specializes in product design and interface development, specialties in which he regularly <a href="http://learn.shayhowe.com/" rel="nofollow">writes and speaks</a> about. Currently he is the Director of Product at Belly, and co-organizes <a href="http://chicagocamps.org/" rel="nofollow">Chicago Camps</a>, Refresh Chicago, and UX Happy Hour.

      %p
        %a(href="https://twitter.com/shayhowe" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true") Follow @shayhowe
