%section#sponsors.sponsors

  %h1 Sponsors

  %p.nutshell-alt Without the help and support from the following organizations the Refresh Road Trip wouldn&#8217;t be possible. We truly cannot thank them enough!

  %ul

    %li
      %a(href="https://bellycard.com/" rel="nofollow")
        %img(src="assets/img/belly.png" alt="Belly Card")

    %li
      %a(href="http://chicagocamps.org/" rel="nofollow")
        %img(src="assets/img/chicago-camps.png" alt="Chicago Camps")

    %li
      %a(href="http://www.devmynd.com/" rel="nofollow")
        %img(src="assets/img/devmynd.png" alt="DevMynd")

    %li
      %a(href="http://www.webvisionsevent.com/" rel="nofollow")
        %img.sponsor-webvisions(src="assets/img/web-visions.png" alt="WebVisions")