%section#updates

  %h1 Updates

  %p.nutshell-alt Use the <a href="https://twitter.com/search?q=%23refreshroadtrip" rel="nofollow">#refreshroadtrip</a> hashtag to keep up to speed with the gang while they are on the road, following their progress each day. Please don&#8217;t hesitate to chime in either!

  %a.twitter-timeline(href="https://twitter.com/search?q=%23refreshroadtrip" data-dnt="true" data-widget-id="354034583852949504" data-chrome="noheader" data-border-color="#d7d9db" height="600") Tweets about #refreshroadtrip
