// ==========================================================================
// Colors

$black: #2b2a30
$grey: #807f83
$lightgrey: #bec0c2
$lightestgrey: #efeff0
$green: #00682e
$lightgreen: #39b54a
$blue: #00608c
$lightblue: #00aed6