// ==========================================================================
// Links

a
  color: $light-blue
  text-decoration: none
  
  &:hover
    text-decoration: underline

  &:focus
    outline: thin dotted

  &:active,
  &:hover
    outline: 0
