/* line 6, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_normalize.css.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 20, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_normalize.css.sass */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 27, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_normalize.css.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 31, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_normalize.css.sass */
[hidden] {
  display: none; }

/* line 38, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_normalize.css.sass */
html {
  font-size: 62.5%;
  -ms-text-size-adjust: 62.5%;
  -webkit-text-size-adjust: 62.5%; }

/* line 43, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_normalize.css.sass */
html,
button,
input,
select,
textarea {
  font-family: "GibsonLightRegular", sans-serif; }

/* line 50, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_normalize.css.sass */
body {
  background: #efeff0;
  color: #2b2a30;
  margin: 0; }

/* line 7, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 11, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 15, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 19, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 23, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 27, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/* line 31, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 34, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
b,
strong {
  font-weight: bold; }

/* line 38, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
blockquote {
  margin: 1em 40px; }

/* line 41, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
dfn {
  font-style: italic; }

/* line 44, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 49, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
mark {
  background: yellow;
  color: black; }

/* line 53, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
p,
pre {
  margin: 1em 0; }

/* line 57, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

/* line 65, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 70, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
q {
  quotes: none; }

/* line 73, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
q:before,
q:after {
  content: "";
  content: none; }

/* line 78, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
small {
  font-size: 80%; }

/* line 81, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 88, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
sup {
  top: -0.5em; }

/* line 91, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/base/_typography.css.sass */
sub {
  bottom: -0.25em; }

@font-face {
  font-family: "RefreshMonoBold";
  src: url("../fonts/refreshmono-bold-webfont.eot");
  src: url("../fonts/refreshmono-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/refreshmono-bold-webfont.woff") format("woff"), url("../fonts/refreshmono-bold-webfont.ttf") format("truetype"), url("../fonts/refreshmono-bold-webfont.svg#RefreshMonoBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GibsonRegular";
  src: url("../fonts/gibson-regular-webfont.eot");
  src: url("../fonts/gibson-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-regular-webfont.woff") format("woff"), url("../fonts/gibson-regular-webfont.ttf") format("truetype"), url("../fonts/gibson-regular-webfont.svg#GibsonRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GibsonLightRegular";
  src: url("../fonts/gibson-light-webfont.eot");
  src: url("../fonts/gibson-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-light-webfont.woff") format("woff"), url("../fonts/gibson-light-webfont.ttf") format("truetype"), url("../fonts/gibson-light-webfont.svg#GibsonLightRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 18, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
a:focus {
  outline: thin dotted; }

/* line 21, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
a:active,
a:hover {
  outline: 0; }

/* line 29, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 35, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
dd {
  margin: 0 0 0 40px; }

/* line 38, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/* line 43, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* line 52, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 56, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 63, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
figure {
  margin: 0; }

/* line 70, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
form {
  margin: 0; }

/* line 73, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 78, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 84, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 93, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
button,
input {
  line-height: normal; }

/* line 97, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
button,
select {
  text-transform: none; }

/* line 101, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 109, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 113, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 120, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 126, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 131, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 136, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 144, /Users/shayhowe/Documents/Work/Repositories/refresh-road-trip/source/assets/css/main.css.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }
