// ==========================================================================
// Events

.events
  border-top: 1px solid $light-grey
  list-style: none
  margin-top: 3em
  padding-top: 3em

.event
  border-bottom: 1px solid $light-grey
  margin-bottom: 3em
  padding-bottom: 3em

.event-title,
.event-date,
.event-location
  float: left

.event-title
  width: 40%

.event-date,
.event-location
  width: 30%

.event-date
  padding: 0 15px
