// ==========================================================================
// Sponsors

.sponsors
  border-bottom: 1px solid $light-grey
  border-top: 1px solid $light-grey
  padding: 4em 0 1em 0

  li
    margin-bottom: 5em
    text-align: center

    &:last-child
      margin-bottom: 3em

  img
    width: 50%

  .sponsor-agency-firebox
    width: 40%

  .sponsor-webvisions
    width: 30%
