- @title = "Refresh Road Trip Itinerary"

= partial "partials/header"


-# Sunday

%section.break

  %h1 Sunday, July 21<sup>st</sup>, 2013
  %h4 &#126;4.5 Hour drive to Lima, OH

-# Monday - Columbus

%section.break

  %h1 Monday, July 22<sup>nd</sup>, 2013
  %h4 &#126;2 Hour drive to Columbus, OH
    
  %h5 6:00 PM
  %p
    %a(href="http://www.ixdacolumbus.org/event/guest-speakers-jon-buda-shay-howe-refresh-chicago/" rel="nofollow") IxDA Columbus
    at Involution Studios &ndash;
    %a(href="https://maps.google.com/maps?q=1020+Dennison+Ave+Columbus+OH+43201" rel="nofollow")
      1020 Dennison Ave., Columbus, OH 43201

  %h5 Courtyard Columbus Downtown
  %p
    %a(href="tel:16142283200" rel="nofollow") (614) 228-3200
    &ndash;
    %a(href="https://maps.google.com/maps?q=35+.+Spring+St+Columbus+OH+43215" rel="nofollow") 35 W. Spring St., Columbus, OH, 43215


-# Tuesday - Pittsburgh

%section.break

  %h1 Tuesday, July 23<sup>rd</sup>, 2013
  %h4 &#126;3.5 Hour drive to Pittsburgh, PA

  %h5 7:00 PM
  %p
    %a(href="http://www.meetup.com/pittsburghwebdesign/events/119300752/" rel="nofollow")
      Pittsburgh Web Design
    at Revv Oakland  &ndash;
    %a(href="https://maps.google.com/maps?q=122+Meyran+Ave+Pittsburgh+PA+15213" rel="nofollow")
      122 Meyran Ave., Pittsburgh, PA 15213

  %h5 SpringHill Suites Pittsburgh North Shore
  %p
    %a(href="tel:14123239005" rel="nofollow") (412) 323-9005
    &ndash;
    %a(href="https://maps.google.com/maps?q=223+Federal+St+Pittsburgh+PA+15212" rel="nofollow") 223 Federal St., Pittsburgh, PA, 15212

-# Wednesday - Cleveland

%section.break

  %h1 Wednesday, July 24<sup>th</sup>, 2013
  %h4 &#126;2.5 Hour drive to Cleveland, OH

  %h5 2:00 PM
  %p
    Meeting with JumpStart at TBD
    -#
      %a(href="https://maps.google.com/maps?q=1555+Broadway+St+Detroit+MI+48226" rel="nofollow")
        1555 Broadway St., Detroit, MI 48226

  %h4 &#126;TBD travel to the meetup

  %h5 6:00 PM
  %p
    %a(href="http://www.clevelandwebstandards.org/site/event-view/july_cwsa_meeting/" rel="nofollow")
      Cleveland Web Standards Association
    at Progressive Insurance &ndash;
    %a(href="https://maps.google.com/maps?q=6300+Wilson+Mills+Rd+Cleveland+OH+44143" rel="nofollow")
      6300 Wilson Mills Rd., Cleveland, OH 44143

  %h5 Cleveland Airport Marriott
  %p
    %a(href="tel:12162525333" rel="nofollow") (216) 252-5333
    &ndash;
    %a(href="https://maps.google.com/maps?q=4277+W+150th+St+Cleveland+OH+44135" rel="nofollow") 4277 W. 150th St., Cleveland, OH, 44135

-# Thursday - Detroit

%section.break

  %h1 Thursday, July 25<sup>th</sup>, 2013
  %h4 &#126;3 Hour drive to Detroit, MI

  %h5 2:00 PM
  %p
    Meeting with Detroit Venture Partners at M@dison Building &ndash;
    %a(href="https://maps.google.com/maps?q=1555+Broadway+St+Detroit+MI+48226" rel="nofollow")
      1555 Broadway St., Detroit, MI 48226

  %h4 &#126;1 Minute walk to the dinner

  %h5 4:30 PM
  %p
    Dinner at Detroit Beer Company &ndash;
    %a(href="https://maps.google.com/maps?q=1529+Broadway+St+Detroit+MI+48226" rel="nofollow")
      1529 Broadway St., Detroit, MI 48226

  %h4 &#126;10 Minute walk to the meetup

  %h5 6:30 PM
  %p
    %a(href="http://www.meetup.com/refreshdetroit/events/118288312/" rel="nofollow") Refresh Detroit
    at The Qube &ndash;
    %a(href="https://maps.google.com/maps?q=635+Woodward+Ave+Detroit+MI+48226" rel="nofollow")
      635 Woodward Ave., Detroit, MI 48226

  %h5 Courtyard Detroit Downtown
  %p
    %a(href="tel:13132227700" rel="nofollow") (313) 222-7700
    &ndash;
    %a(href="https://maps.google.com/maps?q=333+E+Jefferson+Ave+Detroit+MI+48226" rel="nofollow") 333 E. Jefferson Ave., Detroit, MI, 48226

-# Friday - Holland

%section.break
  
  %h1 Friday, July 26<sup>th</sup>, 2013
  %h4 &#126;3 Hour drive to Holland, MI

  %h5 12:00 PM
  %p
    %a(href="https://www.facebook.com/events/658601287487341/" rel="nofollow")
      Collective Idea Event
    at Warehaus &ndash;
    %a(href="https://maps.google.com/maps?q=217+E+24th+St+Holland+MI+49423" rel="nofollow")
      217 E. 24th St., Holland, MI 49423

  %h4 &#126;3 Hour drive to Chicago, IL

= partial "partials/footer"
